html {
    background-color: #000000;
    font-family: sans-serif;
  }

* {
    color: #FFFFFF;
    font-family: "Jersey 10"
}

h1 {
    height: 150px;
    font-size: 100px;
    margin: 10px;
    padding: 10px;
}

canvas {
  width: 100%; /* Ensures canvas fits the screen width */
  height: 100%; /* Ensures canvas fits the screen height */
}



  
  /* body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;å
  }

  
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  } */