---
import "../styles/global.css";

// import * as PIXI from 'pixi.js'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
  </head><body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <h1>SOPHIE WU</h1>
    <script>
      import { createPixiApp } from '../components/pixiApp.js';
      createPixiApp();
    </script>
  </body>
</html>
