---
import '../styles/global.css'
import * as PIXI from 'pixi';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<h1>Sophie Wu</h1>
		<script type="module">

			// Create the PixiJS application
			const app = new PIXI.Application({ width: 640, height: 360 });
			document.getElementById('app').appendChild(app.view);
	  
			// Add a sprite
			PIXI.Assets.load('/bird.png').then(() => {
			  const sprite = PIXI.Sprite.from('/bird.png');
			  app.stage.addChild(sprite);
			});
		  </script>
	</body>
</html>
